/*-- scss:defaults --*/
// unhcr colors
$unhcr-blue: #0072bc;
$unhcr-navy: #18375f;
$unhcr-green: #00b398;
$unhcr-grey: #666666;
$unhcr-red: #ef4a60;
$unhcr-yellow: #faeb00;
$unhcr-dark: #222222;
$unhcr-light: #ffffff;

// unhcr fonts import
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");

// fonts
$font-family-sans-serif: "Lato", sans-serif !default;
$font-family-monospace: "Source Code Pro", monospace !default;

// colors
$body-bg: $unhcr-light !default;
$body-color: $unhcr-dark !default;
$text-muted: $unhcr-grey !default;
$link-color: $unhcr-blue !default;
$link-color-hover: $unhcr-dark !default;
$light-bg-link-color: $unhcr-blue !default;
$dark-bg-link-color: $unhcr-yellow !default;

// borders
$border-radius: 0 !default;

// headings
$presentation-heading-color: $unhcr-blue !default;
$presentation-h1-font-size: 2.2em !default;

/*-- scss:rules --*/

// logo size
.reveal img.slide-logo {
  max-height: 3rem;
}

// logo dark bg
.has-dark-background {
  img.slide-logo {
    content: url("/_extensions/unhcr-dataviz/quarto-revealjs-unhcr/unhcr_logo_white.svg");
  }
}

// footer
.reveal .footer {
  border-top: lighten($unhcr-dark, 70) solid 2px;
  height: 3.5rem;
  p {
    margin-top: 12px;
  }
}
.has-dark-background {
  .footer {
    border-top-color: $unhcr-light;
    color: $unhcr-light;
  }
}

// title slide
#title-slide {
  color: $unhcr-yellow;

  .subtitle {
    font-size: 1.3em;
  }
}

// section
.reveal .title-slide {
  text-align: center;
}

.has-dark-background .title-slide {
  p {
    color: $unhcr-yellow;
  }
}

// typography
.reveal .slide {
  // list marker in blue
  ul li::marker,
  ol li::marker {
    color: $unhcr-blue;
  }

  // blockquote
  blockquote {
    color: $unhcr-dark;
    font-style: italic;
    border-left-color: $unhcr-blue;
  }

  // code
  p code {
    color: $unhcr-red;
  }

  div.sourceCode {
    margin-bottom: 12px !important;
  }
}

// dark background
.has-dark-background .slide {
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $unhcr-yellow;
  }

  // list marker in blue
  ul li::marker,
  ol li::marker {
    color: $unhcr-yellow;
  }

  // blockquote
  blockquote {
    color: $unhcr-light;
    border-left-color: $unhcr-yellow;
  }

  // code
  p code {
    color: lighten($unhcr-red, 15%);
  }

  // callout
  .callout-title p {
    color: $unhcr-dark;
  }
}

// unhcr helpers
// text color
.text-blue {
  color: $unhcr-blue;
}

.text-yellow {
  color: $unhcr-yellow;
}

.text-grey {
  color: $unhcr-grey;
}

// background color
.bg-blue,
.bg-yellow,
.bg-grey {
  padding: 0.05em 0.1em;
  display: inline-block;
  color: $unhcr-dark;
}

.bg-blue {
  background-color: lighten($color: $unhcr-blue, $amount: 45);
}

.bg-yellow {
  background-color: lighten($color: $unhcr-yellow, $amount: 30);
}

.bg-grey {
  background-color: lighten($color: $unhcr-grey, $amount: 45);
}
