/*-- scss:defaults --*/
// unhcr colors
$unhcr-blue: #0072bc;
$unhcr-navy: #18375f;
$unhcr-green: #00b398;
$unhcr-grey: #666666;
$unhcr-red: #ef4a60;
$unhcr-yellow: #faeb00;
$unhcr-dark: #222222;
$unhcr-light: #ffffff;

// unhcr fonts import
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");

// fonts
$font-family-sans-serif: "Lato", sans-serif !default;
$font-family-monospace: "Source Code Pro", monospace !default;

// colors
$body-bg: $unhcr-light !default;
$body-color: $unhcr-dark !default;
$text-muted: $unhcr-grey !default;
$link-color: $unhcr-blue !default;
$link-color-hover: $unhcr-dark !default;
$light-bg-link-color: $unhcr-blue !default;
$dark-bg-link-color: $unhcr-yellow !default;

/* TODO: code variables */
// $light-bg-code-color: var(--quarto-hl-fu-color) !default;
// $dark-bg-code-color: lighten($unhcr-red, 15%) !default;
// $code-block-bg: $unhcr-blue;

// borders
$border-radius: 0 !default;

// headings
$presentation-heading-color: $unhcr-blue !default;
$presentation-h1-font-size: 2.2em !default;

/*-- scss:rules --*/

// logo size
.reveal img.slide-logo {
  max-height: 3rem;
}

// logo dark bg
.has-dark-background,
.reveal:has(.inverse.present) {
  img.slide-logo {
    content: url("/_extensions/unhcr-dataviz/quarto-revealjs-unhcr/unhcr_logo_white.svg");
  }
}

// title slide
#title-slide {
  color: $unhcr-yellow;

  .subtitle {
    font-size: 1.3em;
  }
}

// section
.reveal .title-slide {
  text-align: center;
}

// typography
.reveal .slide {
  // list marker in blue
  ul li::marker,
  ol li::marker {
    color: $unhcr-blue;
  }

  // blockquote
  blockquote {
    color: $unhcr-dark;
    font-style: italic;
    border-left-color: $unhcr-blue;
  }
}

/* TODO: code */

/* TODO: helpers */

/* TODO: .inverse rules */
// .reveal .inverse {
//   .slide-background-content {
//     background-color: $unhcr-blue;
//   }
// }
